body {
  background-color: #002447;
  margin-top: 15%;
  text-align: center;
  width: 70%;
  margin: auto;
}
h1 {
  color: #53d3d1;
  margin: 40px;
}
h2 {
  color: gray;
}

h2:hover {
  color: #fbeceb;
  font-weight: bolder;
}

div li {
  color: #feb249;
}
div ul {
  display: flex;
  margin: 0;
  list-style: none;
  flex-direction: row;
  padding-right: 5px;
  justify-content: center;
}
li {
  margin: 5px;
}
