body {
  background-color: #563c50;
  margin: 0;
  font-family: "Alata", sans-serif;
}
main {
  text-align: center;
  width: 70%;

  margin: auto;
}
h1 {
  text-align: center;
  color: #edd1cb;
  margin: 40px;
  font-size: 5em;
  line-height: 110%;
  margin-bottom: 110px;
}
h2 {
  color: #edd1cb;
  font-size: 2.5em;
}

h2:hover {
  color: #f95950;
  font-weight: bolder;
}

div li {
  color: #feb249;
}
div ul {
  display: flex;
  margin: 0;
  list-style: none;
  flex-direction: row;
  padding-right: 5px;
  justify-content: center;
  letter-spacing: 2px;
}
a {
  color: #feb249;
  margin: 5px;
  border-bottom: 0.5px solid #edd1cb;
  text-decoration: none;
}
a:hover {
  color: #edd1cb;
  border: none;
}

.nav {
  background-color: #f95950;
  top: 0;
  left: 0;
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
}
.nav div {
  display: flex;
  flex-direction: row;
  list-style: none;
}
